In [1]:
!pip install -i https://test.pypi.org/simple/ lambdata-mherbert93==1.3

Looking in indexes: https://test.pypi.org/simple/
Collecting lambdata-mherbert93==1.3
  Downloading https://test-files.pythonhosted.org/packages/48/2f/a1040764e84f8f11bacb4c03373d23f3ad92d2c7902fd8888b363a77c600/lambdata-mherbert93-1.3.tar.gz
Building wheels for collected packages: lambdata-mherbert93
  Building wheel for lambdata-mherbert93 (setup.py) ... done
  Created wheel for lambdata-mherbert93: filename=lambdata_mherbert93-1.3-cp36-none-any.whl size=1798 sha256=53b3dd5a873c83a53a2abc5877642beacbf4a2ade562d7e1eccfc3b3091220f4
  Stored in directory: /root/.cache/pip/wheels/61/7c/e6/6d9ee059177587955e447f3dba0a0b3b4f0a6f1176b86665f4
Successfully built lambdata-mherbert93
Installing collected packages: lambdata-mherbert93
Successfully installed lambdata-mherbert93-1.3

In [0]:
import pandas as pd
from lambdata.lambdata_mherbert93 import accuracy_baseline, mae_baseline

In [0]:
df = pd.DataFrame({'target': ['True', 'True', 'True', 'True', 'False'], 'feature1': [5, 6, 4, 5, 5]})

In [7]:
df

  target  feature1
0   True         5
1   True         6
2   True         4
3   True         5
4  False         5

In [8]:
accuracy_baseline(df, 'target')

('Baseline accuracy is: ', '0.8')

In [0]:
df = pd.DataFrame({'target': [250, 300, 225, 400, 600], 'feature1': [2, 3, 2, 5, 7]})

In [10]:
df

   target  feature1
0     250         2
1     300         3
2     225         2
3     400         5
4     600         7

In [12]:
mae_baseline(df, 'target')

'Baseline MAE is: 116.0'